.custom-scrollbar::-webkit-scrollbar {
  width: 15px;
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
  margin: 15px 0;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #7c4dff;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #6a3de8;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.custom-scrollbar {
  padding-right: 16px; /* Espace à droite pour la scrollbar */
  margin-right: 16px; /* Compense le padding pour maintenir la largeur */
  box-sizing: content-box;
}