@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
html {
  height: 100vh;
}
body {
  background: linear-gradient(-135deg, #e6d4ff, #d3bdf7);
  background-attachment: fixed;
  color: #777;
  height: 100vh;
}

@media (min-width: 768px) {
  .responsive-clip {
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
  }
}